@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.bg-dark {
  background-color: $dark-gray;
}

.bg-medium {
  background-color: $medium-gray;
}

.bg-light {
  background-color: $light-gray;
}

.em-preheader {
  margin-top: 5px;
  margin-bottom: 0;
  width: 565px;
  a {
    color: $link-color;
    text-decoration: underline;
    font-weight: bold;
    &:hover, &:focus {
      text-decoration: none;
    }
    &:visited {
      color: $link-visited-color;
    }
  }
  p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
}

.em-footer {
  a.link {
    color: $link-color;
    text-decoration: underline;
    &:visited {
      color: $link-visited-color;
    }
  }
}

img {
  display: block;
}

.logo-full {
  z-index: 4000;
  position: relative;
  webkit-filter: opacity(0.5) drop-shadow(0 0 0 transparent);
  filter: opacity(0.5) drop-shadow(0 0 0 transparent);

}
.logo-small {
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: 40000;
    top: 40%;
    left: 30%;
}
<linearGradient id="Gradient1">
<stop class="stop1" offset="0%"/>
<stop class="stop2" offset="50%"/>
<stop class="stop3" offset="100%"/>
</linearGradient>

.logo-ufi {
  fill: url(#Gradient1);
  //background: linear-gradient(90deg, rgba(125,126,126,1) 0%, rgba(248,249,249,1) 47%, rgba(125,126,126,1) 100%);
}

//.nelnet-logo {
//  webkit-filter: opacity(0.5) drop-shadow(0 0 0 #8292A1);
//  filter: opacity(0.5) drop-shadow(0 0 0 #8292A1);
//}
