<row class="header">
    <columns>
        <a href="{{logo-link}}" target="_blank">
            <img class="{{#if logo-class}}{{logo-class}}{{/if}} m-l-md" src="{{img-var}}/{{logo-full-file}}" alt="{{logo-alt}}">
        </a>
    </columns>
    <columns>
        <spacer size="10"></spacer>
        <div align="right" class="m-r-md">
            <a href="https://www.campuscommerce.com" target="_blank" align="right" class="text-scholarnet">
                <strong>CampusCommerce.com/Holiday</strong>
            </a>
        </div>
    </columns>
</row>