<row class="header">
    <columns>
        <div class="m-l-md">
            <a href="{{logo-link}}" target="_blank">
                <img class="{{#if logo-class}}{{logo-class}}{{/if}}" src="{{img-var}}/{{logo-full-file}}" alt="{{logo-alt}}">
            </a>
        </div>
    </columns>
    <columns>
        <spacer size="10"></spacer>
        <div align="right" class="m-r-md">
            <a href="{{text-link}}" target="_blank" align="right" class="text-scholarnet">
                <strong>CampusCommerce.com/Holiday</strong>
            </a>
        </div>
    </columns>
</row>