<row class="collapse">
    <columns>
        <center>
            {{#ifpage '12648_Ufi_Holiday_Email'}}
                <img width="903" src="https://www.nelnet.net/marketingprod/email/2018/NDS/Client_Services/12648/images/ufi-holiday-text.png" alt="Happy Holidays" />
            {{/ifpage}}
            {{#unlesspage '12648_Ufi_Holiday_Email'}}
                <img width="903" src="https://www.nelnet.net/marketingprod/email/2018/NDS/Client_Services/12648/images/holiday-text.png" alt="Warmest Holiday Wishes" />
            {{/unlesspage}}
        </center>
    </columns>
</row>