<row class="collapse">
    <columns>
        <center>
            {{#if is-ufi}}
            <img width="903" class="background-footer" src="https://www.nelnet.net/marketingprod/email/2018/NDS/Client_Services/12648/images/green-background-footer.png" />
            {{else}}
            <img width="903" class="background-footer" src="https://www.nelnet.net/marketingprod/email/2018/NDS/Client_Services/12648/images/blue-background-footer.png" />
            {{/if}}
        </center>
    </columns>
</row>