<row class="collapse">
    <columns>
        <center>
            {{#ifpage '12648_Ufi_Holiday_Email'}}
                <img width="903" src="{{img-var}}/green-background-header.png" />
            {{/ifpage}}
            {{#ifpage '12737_SN_Holiday_Email'}}
                <img width="903" class="background-header" src="{{img-var}}/background-header.jpg" />
            {{/ifpage}}
            {{#unlesspage '12648_Ufi_Holiday_Email' '12737_SN_Holiday_Email'}}
                <img width="903" src="{{img-var}}/blue-background-header.png" />
            {{/unlesspage}}
        </center>
    </columns>
</row>