<row class="collapse">
    <columns>
        <center>
            {{#ifpage '12648_Ufi_Holiday_Email'}}
            <img width="903" src="{{img-var}}/green-background-footer.png" />
            {{/ifpage}}
            {{#ifpage '12737_SN_Holiday_Email'}}
            <img width="903" src="{{img-var}}/background-footer.jpg" />
            {{/ifpage}}
            {{#unlesspage '12648_Ufi_Holiday_Email' '12737_SN_Holiday_Email'}}
            <img width="903" src="{{img-var}}/blue-background-footer.png" />
            {{/unlesspage}}
        </center>
    </columns>
</row>