<container class="em-footer bg-light">
    <row class="bg-body">
        <columns large="12" small="12" class="col-pad">
            <spacer size="15"></spacer>
            <center>
                <p class="text-center m-b-none">{{copyright}}
                    <a href="{contact-link}">Contact Us</a> |
                    <a href="{privacy-link}">Privacy Policy</a> |
                    <a href="{terms-link}">Terms of Use</a>
                </p>
                <p class="text-center m-b-none">
                    {{vendor-address}}
                </p>
                <p class="text-center">
                   This email was sent to: %%EMAIL%% |
                    <a href="#" name="Unsubscribe">Unsubscribe</a>
                </p>
            </center>
        </columns>
    </row>
</container>