<container class="em-footer bg-light">
    <row class="bg-body">
        <columns large="12" small="12" class="col-pad">
            <spacer size="15"></spacer>
            <center>
                <p class="text-center m-b-none">&copy; 2018 Nelnet Business Solutions, Inc. |
                    <a href="#">Contact Us</a> |
                    <a href="#">Privacy Policy</a> |
                    <a href="#">Terms of Use</a>
                </p>
                <p class="text-center m-b-none">
                    121 S. 13th St. Suite 301 Lincoln NE 68508
                </p>
                <p class="text-center">
                   This email was sent to: %%EMAIL%% |
                    <a href="#" name="Unsubscribe">Unsubscribe</a>
                </p>
            </center>
        </columns>
    </row>
</container>