<!--
  ~  This program is protected by copyright and other intellectual property law.
  ~  It is proprietary to and includes confidential information of Great Lakes
  ~  Higher Education Corporation and Affiliates (Great Lakes).  This program may
  ~  be disclosed and/or used only as authorized in a license agreement between
  ~  Great Lakes and the user authorizing and controlling such use and disclosure.
  -->

<style type="text/css">

    a[href^=tel],
    a[href^="x-apple-data-detectors:"] {
        color:inherit !important;
        text-decoration:none !important;
    }
    .applelink-white a {
        color: #ffffff !important;
        text-decoration:none !important;
    }
    .applelink-text a {
        color: #666666 !important;
        text-decoration:none !important;
    }

</style>

<!--[if gte mso 9]><xml>
    <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
</xml><![endif]-->

<!--[if gte mso 10]>
<style type="text/css">
    h1, h2, h3, h4, h5, p, li, a { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; font-weight: normal !important; }
    .bg-subtle { background-color: #E9E9EA !important;}
    .col-pad { padding-left: 40px !important; padding-right: 40px !important; }
    .hr-blue-gradient { border: 5px solid #265179 !important; background: #265179 !important; }
    .col-pad-sm { padding-left: 20px !important; padding-right: 20px !important; }
    .col-pad-left { padding-left: 40px !important; }
    .col-pad-right { padding-right: 40px !important; }
    .pr-0, th.last.pr-0 { padding-right: 0 !important; }
    .pl-0, th.last.pl-0 { padding-left: 0 !important; }
    .pb-0, .row.pb-0 .first, .row.pb-0 .last, th.last.pb-0  { padding-bottom: 0 !important; }
    p a { Margin: inherit !important; margin: inherit !important; } }
</style>
<![endif]-->
